body{
    background-color: black;
}
.esquerda{
    left: 0;
    width: 25%;
    position: absolute;
    border-right: 2px solid gold;
    height: max-content;
 
    
}
.meio{
    right: 0;
    width: 75%;
    position: absolute;
    margin-left: 10px;
    align-content: center;
    text-align: center;
}
.sanduiche{
    width: 95%;
}
.zapzap{
    width: 60%;

}
.meio h1{
    color: gold;
}
.curso{
    right: 0;
    width: 75%;
    position: absolute;
    margin-left: 10px;
    align-content: center;
    text-align: center;
    bottom:-180px;
    height: max-content

}   
