:root{
  color: gold
}
body{
    background-color: black;
    font-family: 'Kiwi Maru', serif;
}
.desc{
      width:70%;
      right: 20px;
      position: absolute;

}
.video{
 padding-left: 40%;
 padding-top: 2px;
 width:560px;
 height:315px;
}

.esquerda{
    left: 0;
    width: 25%;
    position: absolute;
    height: max-content;
}
.ad{
    width: 100%;
    padding-left: 5% ;
}

nav {
    border-bottom: 1px solid gold;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: gold;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    list-style: none;
    margin-right: 2rem;
  }
  
  li a {
    text-decoration: none;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  .home {
    background-color: black;
  } 
  span {
    display: none;
  }
  
  @media (max-width: 480px) {
    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding-left: 0.5rem;
      margin-block-end: 0;
    }
  
    li {
      margin-bottom: 1rem;
      width: 100%;
      border-bottom: 1px dashed #eee;
    }
  
    li:last-child {
      border-bottom: none;
    }
  
    span {
      display: block;
    }
  }
  img{
      max-width: 100%;
  }
.icone{
  width: 100%;

}
.date a {
  color:gold
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 90%;
  text-align: left;
  margin-bottom: 80px;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-text {
  color: gold;
  max-width: 100%;
  align-self: flex-start;
  text-align: justify;
}

.contatos {
  color: gold;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  text-align: right;
  margin-bottom: 80px;
}

.info-contato a {
  color: gold;
  text-decoration: none;
  transition: 0.3s
}

.info-contato a:hover {
  color: black;
  font-size: 130%;
  transition: 0.3s;
}

input, textarea {
  font-family: 'Kiwi Maru', serif;
  width: 90%;
  padding: 0.9%;
}

.enviar input {
  background-color: var(--azul-escuro);
  width: 18%;
  font-weight: bold;
  border: 2px solid white;
  color:white;
  cursor: pointer;
  transition: 0.3s;
}

.enviar input:hover {
  background: var(--azul-claro);
  transition: 0.3s;
}

textarea {
  height: 100px;
  resize: none;
}
.zoio{
  position: absolute;
  right: 20px;
  text-align: center;
  padding-right: 25%;
  opacity: 40%;

}
@media (max-width: 480px) {
    .ad{
      display:none;
    }
    .desc{
      text-align: left;
      width: 94%;
      max-width: fit-content;
    }
    .video{
      padding-left: 0%;
      padding-top: 2px;
      width:inherit;
      height:inherit;
    } 
    .zoio{
      display:none;
    }
    .top-text{
      width: 100%;
    }
    
   } 